@use "./../../vars.scss" as *;

// phtography divider section styles

#photo_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 5%;
  margin: 5rem 0;
  align-items: center;

  min-height: fit-content;

  > div.card {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
    // &:nth-child(odd) {
    //   animation: odd_front_card_idle_animation 10s linear infinite;
    //   animation-fill-mode: forwards;
    //   // transform: rotate(-3deg) translateX(-1rem);
    // }
    // &:nth-child(even) {
    //   animation: even_front_card_idle_animation 10s linear infinite;
    //   animation-fill-mode: forwards;
    //   // transform: rotate(3deg) translateX(1rem);
    // }
    &:nth-child(1) {
      transition-delay: 200ms;
    }
    &:nth-child(2) {
      transition-delay: 400ms;
    }
    &:nth-child(3) {
      transition-delay: 600ms;
    }
  }
  > div.hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }

  .photo {
    border-radius: inherit;
  }

  .odd {
    animation: odd_front_card_idle_animation 10s linear infinite;
    animation-fill-mode: forwards;
  }

  .even {
    animation: even_front_card_idle_animation 10s infinite linear;
    animation-fill-mode: forwards;
  }
}

@keyframes odd_front_card_idle_animation {
  // makes the odd cards shift up and down
  0% {
    transform: translateY(0) rotate(-3deg) translateX(-1rem);
  }
  25% {
    transform: translateY(-0.5rem) rotate(-3deg) translateX(-1rem);
  }
  50% {
    transform: translateY(0) rotate(-3deg) translateX(-1rem);
  }
  75% {
    transform: translateY(0.5rem) rotate(-3deg) translateX(-1rem);
  }
  100% {
    transform: translateY(0) rotate(-3deg) translateX(-1rem);
  }
}

@keyframes even_front_card_idle_animation {
  // makes the even cards shift up and down
  0% {
    transform: translateY(0) rotate(3deg) translateX(1rem); // rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  25% {
    transform: translateY(-0.5rem) rotate(3deg) translateX(1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  50% {
    transform: translateY(0) rotate(3deg) translateX(1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  75% {
    transform: translateY(0.5rem) rotate(3deg) translateX(1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  100% {
    transform: translateY(0) rotate(3deg) translateX(1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
}

@keyframes slide_in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

// desktop styles

// @media (min-width: $desktop_breakpoint) {
//   #photo_container {
//     flex-direction: row;
//     height: fit-content;
//     > div.show {
//       margin: 0 auto;
//     }
//   }
// }
