@use "./../../vars.scss" as *;

// phtography divider section styles

#photo_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 2%;
  margin: 5rem 0;
  align-items: center;

  min-height: fit-content;

  > div.card {
    // animation: card_3D_hover_effect 10s infinite linear;
    position: relative;

    // &::after {
    //   // background: red;
    //   // center the shadow
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;

    //   // &::after {
    //   content: "";
    //   // make the background rezie to fit the container
    //   background-image: url(../../../public/0001.png);
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   animation: bounce 10s infinite linear;
    //   animation-fill-mode: reverse;

    //   // -webkit-background-size: cover;
    //   // -moz-background-size: cover;
    //   // -o-background-size: cover;
    //   background-size: cover;
    //   position: absolute;
    //   width: 20rem;
    //   height: 12rem;
    //   // border-radius: 50%;
    //   left: -4rem;
    //   // background: hsla(0, 0%, 0%, 0.4);
    //   bottom: -7rem;
    //   z-index: 0;

    //   // background-image: url(../../../public/0001.png);
    //   // box-shadow: 0 30px 20px rgb(0 0 0 / 30%);
    //   // animation: card_3D_hover_effect 5s infinite linear;
    //   // animation-fill-mode: ;
    //   // }

    //   // ~~~~~~~~~

    //   // border-radius: 100%;
    //   // bottom: -34.5%;
    //   // /* left: calc(50% - 50px); */
    //   // /* right: calc(50% - 50px); */
    //   // /* left: 25%; */
    //   // position: absolute;
    //   // content: "";
    //   // background-color: black;
    //   // filter: blur(3px);
    //   // width: 50px;
    //   // height: 5px;
    //   // animation: desktop_shadow__TQP94 1s ease-in-out infinite;
    //   // animation-fill-mode: both;
    //   // animation-direction: alternate;
    // }

    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
    // &:nth-child(odd) {
    //   animation: odd_front_card_idle_animation 10s linear infinite;
    //   animation-fill-mode: forwards;
    //   // transform: rotate(-3deg) translateX(-1rem);
    // }
    // &:nth-child(even) {
    //   animation: even_front_card_idle_animation 10s linear infinite;
    //   animation-fill-mode: forwards;
    //   // transform: rotate(3deg) translateX(1rem);
    // }
    &:nth-child(2) {
      transition-delay: 200ms;
    }
    &:nth-child(3) {
      transition-delay: 400ms;
    }
    &:nth-child(4) {
      transition-delay: 600ms;
    }
  }
  > div.hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }

  .photo {
    border-radius: inherit;
    .card {
      animation: even_front_card_idle_animation 5s infinite linear;
      animation-fill-mode: forwards;
    }

    animation: odd_background_card_idle_animation 10s linear infinite;
    &:nth-child(odd) {
      animation-direction: reverse;
    }
  }

  // .odd {
  // animation: odd_front_card_idle_animation 10s linear infinite;
  // animation-fill-mode: reverse;
  // animation: odd_background_card_idle_animation 10s linear infinite;
  // &:nth-child(odd) {
  //   animation-direction: reverse;
  // }
  // }

  // .even {
  //   animation: even_front_card_idle_animation 10s infinite linear;
  //   animation-fill-mode: forwards;
  // }
}

// @keyframes odd_front_card_idle_animation {
//   // makes the odd cards shift up and down
//   0% {
//     transform: translateY(0) rotate(-3deg) translateX(-1rem);
//   }
//   25% {
//     transform: translateY(-0.5rem) rotate(-3deg) translateX(-1rem);
//   }
//   50% {
//     transform: translateY(0) rotate(-3deg) translateX(-1rem);
//   }
//   75% {
//     transform: translateY(0.5rem) rotate(-3deg) translateX(-1rem);
//   }
//   100% {
//     transform: translateY(0) rotate(-3deg) translateX(-1rem);
//   }
// }

@keyframes odd_background_card_idle_animation {
  // makes the odd cards shift up and down
  // 0% {
  //   transform: translateY(0) rotate(-3deg) translateX(-1rem);
  // }
  // 25% {
  //   transform: translateY(-0.5rem) rotate(-3deg) translateX(-1rem);
  // }
  // 50% {
  //   transform: translateY(0) rotate(-3deg) translateX(-1rem);
  // }
  // 75% {
  //   transform: translateY(0.75rem) rotate(-3deg) translateX(-1rem);
  // }
  // 100% {
  //   transform: translateY(0) rotate(-3deg) translateX(-1rem);
  // }
  0% {
    transform: translateY(0) rotate(-3deg) translateX(-0.5rem);
  }
  25% {
    transform: translateY(-0.5rem) rotate(-3deg) translateX(-0.5rem);
  }
  50% {
    transform: translateY(0rem) rotate(-3deg) translateX(-0.5rem);
  }
  75% {
    transform: translateY(-0.25rem) rotate(-3deg) translateX(-0.5rem);
  }
  100% {
    transform: translateY(0) rotate(-3deg) translateX(-0.5rem);
  }
}

@keyframes even_front_card_idle_animation {
  // makes the even cards shift up and down
  0% {
    transform: translateY(0) rotate(3deg) translateX(1rem); // rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  25% {
    transform: translateY(-0.5rem) rotate(3deg) translateX(1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  50% {
    transform: translateY(0) rotate(3deg) translateX(1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  75% {
    transform: translateY(0.5rem) rotate(3deg) translateX(1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  100% {
    transform: translateY(0) rotate(3deg) translateX(1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
}

@keyframes slide_in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

// desktop styles

// @media (min-width: $desktop_breakpoint) {
//   #photo_container {
//     flex-direction: row;
//     height: fit-content;
//     > div.show {
//       margin: 0 auto;
//     }
//   }
// }

// card 3d hover effect
@keyframes card_3D_hover_effect {
  0% {
    opacity: 0.25;
    transform: scale(80%);
    // background-color: 0 30px 20px rgb(0 0 0 / 30%);
    background: hsla(0, 0%, 0%, 0.4);
    // width: 100%;
  }
  25% {
    // background-color: 0 30px 20px rgb(0 0 0 / 40%);
    background: hsla(0, 0%, 0%, 0.6);
    // width: 80%;
    opacity: 0.5;
    transform: scale(100%);
  }
  50% {
    // background-color: 0 30px 20px rgb(0 0 0 / 40%);
    background: hsla(0, 0%, 0%, 0.6);
    // width: 80%;
    opacity: 0.5;
    transform: scale(80%);
  }
  75% {
    // background-color: 0 30px 20px rgb(0 0 0 / 40%);
    background: hsla(0, 0%, 0%, 0.6);
    // width: 80%;
    opacity: 0.5;
    transform: scale(100%);
  }
  100% {
    // background-color: 0 30px 20px rgb(0 0 0 / 30%);
    background: hsla(0, 0%, 0%, 0.4);
    // width: 100%;
    opacity: 0.25;
    transform: scale(80%);
  }
}

// @keyframes shadow {
//   from {
//     opacity: 0;
//     transform: scale(0);
//   }
//   to {
//     opacity: 0.5;
//     transform: scale(100%);
//   }
// }

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
