@use "./../../vars.scss" as *;

#section_conatiner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  #swirl {
    position: absolute;
    top: 0;
    left: -5%;
    z-index: -1;
    transform: rotate(20deg);
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 100%;
  }

  .title_container {
    background: $primary_background;
    padding: 1rem;
    border-radius: 1rem;
    width: 45vw;
    // height: 10rem;

    // z-index: -1;
    position: absolute;
    // transform: rotate(3deg);
    right: 0;
    // top: 0;
    transition: transform 800ms ease;
    transform: translateX(0) rotate(3deg) scale(1);
    #container_title {
      color: $primary_font_color;
      text-align: center;
      font-size: 2.5rem;
      letter-spacing: 1px;
      // color animation
      --bg-size: 400%;
      --color-one: hsl(195, 76%, 55%);
      --color-two: hsl(15, 90%, 55%);
      background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 / var(--bg-size) 100%;
      color: transparent;
      background-clip: text;
    }
  }
  .hide {
    transform: translateX(100%) rotate(3deg) scale(1.5);
  }
  #card_wrapper {
    position: relative;

    .card {
      opacity: 1;
      filter: blur(0);
      transition: all 1s ease;
      transform: translateX(0);

      &:nth-child(1) {
        transition-delay: 800ms;
      }
      &:nth-child(2) {
        transition-delay: 1s;
      }
      &:nth-child(3) {
        transition-delay: 1.2s;
      }
      &:nth-child(odd) {
        .image {
          transform: rotate(-3deg);
        }
      }
      &:nth-child(even) {
        margin-left: auto;
        .image {
          transform: rotate(-3deg) translateX(-1rem);
        }
      }
      height: 10rem;
      min-height: fit-content;
      width: 40%;
      border-radius: 1rem;
      min-width: fit-content;
      position: relative;
      color: $primary_font_color;
      .image {
        border-radius: inherit;
        box-shadow: $raised_shadow_effect;
      }

      // &:nth-child(even) {
      // animation: even_front_card_idle_animation 10s infinite linear;
      // }
    }
    .hide {
      &:nth-child(odd) {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(-100%);
      }
      &:nth-child(even) {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(100%);
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  #container_title {
    animation: gradientShift 10s linear infinite;
  }
  @keyframes gradientShift {
    to {
      background-position: 400% 0;
    }
  }
}

@keyframes even_front_card_idle_animation {
  // makes the even cards shift up and down
  0% {
    transform: translateY(0) rotate(-3deg) translateX(-1rem); // rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  25% {
    transform: translateY(-0.5rem) rotate(-3deg) translateX(-1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  50% {
    transform: translateY(0) rotate(-3deg) translateX(-1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  75% {
    transform: translateY(0.5rem) rotate(-3deg) translateX(-1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
  100% {
    transform: translateY(0) rotate(-3deg) translateX(-1rem); //rotate(-3deg) translateX(-1rem); // rotate($front_card_rotation) translateX(-1rem);
  }
}
