@use "./../vars.scss" as *;

#hero_section {
  text-align: center;
  font-size: x-large;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    // font-size: 1.5rem;
    margin: 1rem 0 2rem 0;
  }
  #down_arrow {
    position: relative;
    bottom: 0%;
    left: 0%;

    transform: translateX(-50%);
    animation: down_arrow_animation 2s infinite linear;
  }
}

@keyframes down_arrow_animation {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(0.5rem);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// extracurriculars section styles

#extracurricular_section {
  position: relative;
  padding: 1rem 0;
  min-height: fit-content;
  margin: 6rem 0;

  .extracurricular_wrapper {
    .background_image_conatiner {
      position: absolute;
      top: -5%;
      right: 5%;
      width: 7rem;
      height: 7rem;
      z-index: 0;
      opacity: 1;
      transform: all 5s ease;
      transform: rotate(6deg);
    }
    .blur_background_image {
      opacity: 0;
    }
  }

  #section_title {
    font-size: 2.5rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }
  // #FBLA_container {
  //   position: absolute;
  //   top: 0;
  //   z-index: -1;
  //   background: $primary_background;
  //   width: 90vw;
  //   margin: auto;
  //   min-height: 10rem;
  //   color: $primary_font_color;
  //   border-radius: 1rem;
  //   padding: 0 1rem;
  //   background: $primary_background;
  //   #container_title {
  //     font-size: 3.5rem;
  //   }
  // }
  #description_container {
    background: $primary_background;
    color: $primary_font_color;
    padding: 2rem 1.5rem;
    // margin: 0;
    border-radius: 1rem;
    text-align: left;
    p {
      margin-top: 1rem;
    }
  }
}

// desktop styles for extracurriculars section
@media (min-width: $desktop_breakpoint) {
  #extracurricular_section {
    margin: 10rem 0;
    .extracurricular_wrapper {
      .background_image_conatiner {
        top: -10rem;
        right: 4vw;
        width: 10rem;
        height: 10rem;
        z-index: -2;
        opacity: 1;
        transform: all 5s ease;
        transform: rotate(5deg);
      }
    }
    #section_title {
      font-size: 3.5rem;
    }
    #description_container {
      margin: 0 3rem;
    }
  }
}
