@use "./../../vars.scss" as *;

.container {
  position: relative;
  > * {
    transition: transform 1s ease;
    transform: translateY(0);
  }
}

.hide {
  > * {
    transform: translateY(100%);
  }
  top: 100%;
  opacity: 0;
}
