// :root {
//   --front_card_rotation: -5deg;
// }

$website_background: #f4f3ee;
$desktop_breakpoint: 1024px;

// font colors
$primary_font_color: #f4f3ee;
$secondary_font_color: #20b5e7;
$black_font_color: #272733;

$primary_background: #272733;
$secondary_background: linear-gradient(184.12deg, #20b5e7 6.72%, #ff6b00 93.28%);

$red-orange: rgb(228, 104, 69);
$light-blue-voilet: rgb(144, 170, 254);

@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}
