// :root {
//   --front_card_rotation: -5deg;
// }

$website_background: #f4f3ee;
$desktop_breakpoint: 1024px;

// font colors
$primary_font_color: #f4f3ee;
$secondary_font_color: #20b5e7;
$secondary_font_color_hover_effect: #ff6b00;
$black_font_color: rgb(39, 39, 51);

$primary_background: #272733;
$orange_background: #ff6b00;
$secondary_background: linear-gradient(184.12deg, #20b5e7 6.72%, #ff6b00 93.28%);
$secondary_background_inverted: linear-gradient(184.12deg, #ff6b00 93.28%, #20b5e7 6.72%);

// $red-orange: rgb(228, 104, 69);
// $light-blue-voilet: rgb(144, 170, 254);

$raised_shadow_effect: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$subtle_inward_shadow_effect: inset 0 2px 4px rgba(0, 0, 0, 0.1);

@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}

$hover-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
